<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @car.color %>
</p>

<p>
  <b>Hp:</b>
  <%= @car.hp %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>
<p>
  <b>Price:</b>
  <%= @car.price %>
</p>
<p>
  <b>Stock:</b>
  <%= @car.stock %>
</p>



<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
